*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #111;
}
header{
    border-bottom: 2px solid #999;
}
p{
    text-align: justify;
}
a{
    color: #111;
}
.navbar-brand {
    text-align: center;
    display: block;
    font-size: 20px;
    line-height: 36px;
    margin: 0 auto;   
    font-weight: 700;
}
.navbar-collapse label, li{
    font-size: 14px;
    line-height: 24px;
}
.main-content{
    margin-top: 10px;
}
.title{
    text-align: center;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}
.title::after{
    background: #999;
    content: '';
    height: 3px;
    width: 120px;
    border-radius: 5px;
    display: block;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}
p{
    font-size: 14px;
}
section ul li{
    text-align: justify;
    margin: 0 5px;
    font-size: 14px;
}
section ul b{
    margin-left: 15px;
}
footer strong{
    display: block;
    float: left;
    width: 165px;
}
footer p {
    font-size: 13px;
}
footer p::before{
    content: ':';
    font-weight: 900;
}





@media all and (min-width: 768px) {
    .navbar-brand {
        font-size: 28px;
        line-height: 40px;
    }
    .navbar-collapse label, li{
        font-size: 16px;
        line-height: 26px;
    }

    .title{
        text-align: left;
        font-size: 24px;
        line-height: 50px;
    }
    .title::after{
        left: 2%;
        transform: translate(0);
    }
    p{
        font-size: 16px;
    }
    section ul li{
        margin: 0 10px;
        font-size: 16px;
    }
    footer strong{
        width: 250px;
    }
    footer p {
        font-size: 16px;
    }
    
}